/test/jest/
/update-badge.js
/test/
/Makefile
/test.sh
/update-badge.sh
/.travis.yml
/coverage/
/stopsopa-validator*
/local.txt
/.idea/
/.env
/.env.dist
/package_travis.json
/server.js
/yarn.lock
node_modules
yarn-error*
/local.txt
/karma_build/
/dev/
package.dev.json
/link.sh
/webpack/
/webpack-KARMA.config.js
*.tgz
/DEV.md
/karma.conf.js
/karma.sh
/package_karma.json
/travis.sh
/webpack-UMD.config.js
/comment.txt
/todo.txt
/examples.es5.js
/examples.es6.js
/webpack-EXAMPLES.config.js
yt.png
favicon.ico
manual.js
package_dev.json
/docker/
/migrations/
.github/
.husky/
.installgnore
.nvmrc
.prettierignore
.prettierrc.json
prettier.config.js
TODO.md
/bash/
commitlint.config.js
/example/
/install/
/sandbox/
/libs/
/models/
swappackagejson.sh
tsconfig.json
/var/
/.vscode/
/release.config.js